[colors]
background = ${xrdb:background}
foreground = ${xrdb:foreground}
accent = ${xrdb:color6}
urgent = ${xrdb:color1}

[fonts]
font-0 = "SpaceMono Nerd Font Mono:size=15;4"
font-1 = "SpaceMono Nerd Font Mono:size=20;5"
font-2 = "SpaceMono Nerd Font Mono:size=13;4"

[bar/base]
override-redirect = false
height = 4%
offset-y = 2%
bottom = true

underline-size = 5
background = ${colors.background}
cursor-click = pointer
radius = 10
module-margin = 2

inherit = fonts

[bar/workspaces]
inherit = bar/base
offset-x = 30
width = 220
modules-center = workspaces

[bar/info]
inherit = bar/base
offset-x = 100%:-430
width = 400
modules-center = packages date battery volume
spacing = 5

[module/workspaces]
type = internal/xworkspaces
pin-workspaces = false
enable-click = true
format-padding = 0
format-spacing = 2
padding = 1

icon-default =  
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;

format = <label-state>
label-active = %{T2}%icon%%{T-}
label-occupied = %{T2}%icon%%{T-}
label-urgent = %{T2}%icon%%{T-}
label-empty = %{T2}%icon%%{T-}

label-occupied-padding = ${self.padding} 
label-empty-padding = ${self.padding}
label-urgent-padding = ${self.padding}
label-active-padding = ${self.padding}

label-active-foreground = ${colors.accent}
label-urgent-foreground = ${colors.urgent}
label-empty-foreground = ${colors.foreground}
label-occupied-foreground = ${colors.foreground}

;label-active-background = #40

label-active-underline = ${colors.accent}
label-urgent-underline = ${colors.urgent}
label-occupied-underline = ${colors.foreground}

[module/mpd]
type = internal/mpd
;format-online = <toggle> <label-song> 
format-online = ﱘ <label-song>

icon-play = >
icon-pause = ||

label-song-maxlen = 25
label-song-ellipsis = true

[module/volume]
type = internal/alsa
;speaker-mixer = Speaker
;headphone-mixer = Headphone
;headphone-id = 16
;mapped = true
padding-right = 100
format-volume = %{T2}<ramp-volume>%{T-}
label-muted = %{T2}ﱝ%{T-}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

[module/date]
type = internal/date
interval = 30
label =  %time%
time =  %I:%M %p
time-alt =  %Y-%m-%d

[module/packages]
type = custom/script
exec = ~/scripts/polyarchupdates
interval = 600

[module/battery]
type = internal/battery
label-active-font = 3
full-at = 99
battery = BAT0
adapter = AC

poll-interval = 2

format-charging = %{T3}<animation-charging>%{T-}
format-discharging = %{T3}<ramp-capacity>%{T-}

label-full = %{T3}%{T-}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-5 = 
ramp-capacity-6 = 
ramp-capacity-7 = 
ramp-capacity-8 = 
ramp-capacity-9 = 
ramp-capacity-10 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-5 = 
animation-charging-6 = 
animation-charging-7 = 
animation-charging-8 = 
animation-charging-9 = 
animation-charging-10 = 

animation-charging-framerate = 750
